@mixin flexible() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin zeroMarginPadding() {
    margin: 0;
    padding: 0;
}

html {
    @include zeroMarginPadding();
}

* {
    @include zeroMarginPadding();
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &::before, &::after {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        @include zeroMarginPadding();
    }
}

